<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h3> Edit your Listing</h3>
            <br>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="md-3">
                    <label class="form-label" for="title">Title</label>
                    <input name="listing[title]" value="<%=listing.title%>" class="form-control" required>
                    <div class="invalid-feedback">Please provide a Title</div>
                </div>
                <br>
                <div class="md-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">Please add a short description</div>
                </div>
                <br>
                <div class="md-3">
                    Original Listing Image<br>
                    <img src="<%=originalImageUrl%>" alt="image_preview">
                </div>
                <br>
                <div class="d-flex flex-wrap gap-2 mb-4">
                    <% const categories = ["trending", "rooms", "amazingviews", "iconic cities", "amazing pools", "beach", "cabins", "OMG", "farms", "camping", "castles"]; %>

                        <% categories.forEach(cat => { %>
                            <a href="/listings/category/<%= cat %>" class="btn btn-outline-dark btn-sm">
                                <%= cat %>
                            </a>
                            <% }) %>
                </div>
                <br>
                <div class="md-3">
                    <label class="form-label" for="image">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>
                <br>
                <div class="row">
                    <div class="md-3 col-md-4">
                        <label class="form-label" for="price">Price</label>
                        <input name="listing[price]" value="<%=listing.price%>" class="form-control" required>
                        <div class="invalid-feedback">Enter a valid Price</div>
                    </div>
                    <div class="md-3 col-md-8">
                        <label class="form-label" for="country">Country</label>
                        <input name="listing[country]" value="<%=listing.country%>" class="form-control" required>
                        <div class="invalid-feedback">Please add Country</div>
                    </div>
                </div>
                <br>
                <div class="md-3">
                    <label class="form-label" for="location">Location</label>
                    <input name="listing[location]" value="<%=listing.location%>" class="form-control" required>
                    <div class="invalid-feedback">Please add Location</div>
                </div>
                <button class="btn btn-dark mt-3" id="edit">Edit</button>
            </form>
        </div>
    </div>